src/main/webapp/WEB-INF/echo.wsdl

<!-- Exported by Spring at http://localhost:8080/echoService/echo.wsdl -->

<wsdl:definitions xmlns:schema="http://www.averconsulting.com/echo/schemas"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://www.averconsulting.com/echo/schemas">
	<wsdl:types>
		<xs:schema xmlns:ec="http://www.averconsulting.com/echo/schemas"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
			targetNamespace="http://www.averconsulting.com/echo/schemas">
			<xs:element name="EchoRequest">
				<xs:complexType>
					<xs:all>
						<xs:element name="Echo" type="ec:EchoType" />
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="EchoResponse">
				<xs:complexType>
					<xs:all>
						<xs:element name="EchoResponse" type="ec:ReturnType" />
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="EchoType">
				<xs:sequence>
					<xs:element name="Name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ReturnType">
				<xs:sequence>
					<xs:element name="Message" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="EchoResponse">
		<wsdl:part element="schema:EchoResponse" name="EchoResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="EchoRequest">
		<wsdl:part element="schema:EchoRequest" name="EchoRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Echo">
		<wsdl:operation name="Echo">
			<wsdl:input message="schema:EchoRequest" name="EchoRequest"></wsdl:input>
			<wsdl:output message="schema:EchoResponse" name="EchoResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EchoBinding" type="schema:Echo">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Echo">
			<soap:operation soapAction="" />
			<wsdl:input name="EchoRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="EchoResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EchoService">
		<wsdl:port binding="schema:EchoBinding" name="EchoPort">
			<soap:address location="http://localhost:9090/echo-ws-server/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
